<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Cocktail Factory</title>
    <link rel="stylesheet" href="resources/css/app.css"/>
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <script src="resources/lib/angular/angular.js"></script>
    <script src="resources/js/controllers.js"></script>
</head>
<body ng-controller="CocktailListCtrl">
<header>
    <div class="container">
        <h1>Cocktail Factory</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 well">
            <h2>Type ingredients</h2>
            <input ng-model="query" ng-change="change()">
        </div>
        <div class="span8 well">
            <h2>Cocktails here to please you</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Recipe</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cocktail in cocktails">
                    <td>{{cocktail.name}}</td>
                    <td><span ng-bind-html-unsafe="cocktail.description"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
